* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: black;
    padding: 10px 40px;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}

.cart-button {
    border-radius: 20px;
    border:0;
    background-color: pink;
    padding: 7px 20px;
    color:lightslategray;
    font-size: 18px;
}

.goods-list {
    padding: 20px 40px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill,180px);
    grid-auto-rows: 280px;
    gap: 20px;
}

.goods-item {
    border: 2px solid pink;
    border-radius: 5px;
    background-color: white;
    box-shadow: 6px 6px 9px -1px darkgrey;
    display: flex;
    flex-direction: column;
}

.goods-img {
    height: 176px;
    object-fit: cover;
    object-position: center;
}

.goods-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(53, 51, 51);
    padding: 10px;
}

.addToCart-button {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 0;
    align-self: end;
    width: fit-content;
    background-color: pink;
    color:lightslategray;
}




