
* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;

    max-width: 1140px;

    @media (max-width: 1140px) {

        margin-left:  16px ;
        margin-right: 16px;
    }
    
    @media (max-width: 668px) {

        margin-left:  9px ;
        margin-right: 9px;
    }  
}

.header {
    height: 100px;
    background-color: cadetblue;
    display: flex;
    align-items: center;

    &-title {
        color:darkgreen;
        font-family: cursive;
        font-size: 32px;
        text-align: left;
        width: 100%;
    }
}

.burger {
    border: 5px ridge rgba(211, 220, 50, .6);
    box-sizing: border-box;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background-color: rgba(14, 107, 14, 0.192);

    &-title {
        padding-bottom: 5px;
        font-size: 20px;
        color: darkgreen;
    }

    & input{
        margin-left: 15px;
        margin-top: 5px;
    }

    & label {
        color: rgb(13, 104, 13);
    }

    &-calculate {
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: 5px ridge rgba(211, 220, 50, .6);
        border-radius: 4px;
        background-color: cadetblue;
        color: darkgreen;
        font-size: 20px;
        box-shadow: 3px 3px 5px grey;
    }

    .small {
        font-size: 12px;
    }
}